@font-face {
    font-family: "dsDigital";
    src: url("src/ds_digital/DS-DIGI.TTF") format("truetype");
    font-weight: 400;
}

body {
    background-color: black;
}


#clock {
    color: rgb(7, 255, 7);
    font-size: 100px;
    font-family: 'dsDigital';
}

#stopwatch {
    color: rgb(7, 255, 7);
    font-size: 100px;
    font-family: 'dsDigital';
}

#minutesHand {
    position: inherit;
    left: inherit;
    top: inherit;
    transform: translate(-50%, -50%);
}

#hoursHand {
    position: inherit;
    left: inherit;
    top: inherit;
    transform: translate(-50%, -50%);
}

#changeClock {
    font-family: 'ds-digital';
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 50px;
    width: fit-content;
    color: rgb(7, 255, 7);
    background-color: black;
}

#changestopwatch {
    font-family: 'ds-digital';
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 50px;
    width: fit-content;
    color: rgb(7, 255, 7);
    background-color: black;
}

.tempButtons {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    display: flex;
}

#tempStop, #tempStart {
    margin: 20px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid white;
    border-radius: none;
    width: 150px;
    height: 50px;
    background-color: rgb(255, 0, 0);
}

#tempStop:hover, #tempStart:hover {
    background-color: rgb(224, 5, 5);
}

.container {
    height: 100%;
}

.noSelect {
    user-select: none;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}